body{
    background-color: #1cbb9b;
}

.toDoBox{
    background-color: white;
    max-width: 1000px;
    padding: 2rem 2rem;
    min-width: 800px;
    margin-top: 5rem;
}

.submitBtn{
    width: 100%;
}