{% extends 'base.html' %}


{% block content %}
<div class="container">
    <div class="row mt-4">
      {% for trash in trashs %}
      <div class="col-3">
        <div class="trash-box">
          <p>{{trash.title}}</p>
          <p>Deadline: {{trash.deadline}}</p>
          <p>
            Done:  <input type="checkbox"  disabled
            
            {% if trash.done == True %}
            checked
            {% else %}

            {% endif %}
              
            >
          </p>
          <p>
            <a href="{% url 'delete-task-trash' trash.pk %}" type="button" class="btn btn-danger">Delete</a>
          </p>
          <p>
            <a href="{% url 'restore-task' trash.pk %}" type="button" class="btn btn-warning">Restore</a>
          </p>
        </div>
      </div>
      {% endfor %}
    </div>

</div>
{% endblock content %}
    