{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="d-flex justify-content-center mainBox">

      <div class="toDoBox">
        <h1 style="text-align: center;">To Do List</h1>
        <div class="form-todo">
          <form action="" method="post">
            {% csrf_token %}
            <div class="row">
              <div class="col-9">
                <div class="form-group">
                  {{form.title}}
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  {{form.deadline}}
                </div>
              </div>
            </div>
            <div class="row">
                <div class="row mt-4">
                    <div class="col-12">
                    {{form.description}}  
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-12">
                      <div class="form-check">
                        {{form.reminder}}
                        <label class="form-check-label" for="flexCheckDefault">
                          Reminder
                        </label>
                      </div>
                    </div>
                  </div>
            </div>
              <div class="row mt-3">
                <div class="col-12">
                  <input type="submit" class="btn btn-primary submitBtn" value="Add">
                </div>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock content %}